<div class="container">    
            <div class="upload-drop-zone" id="drop-zone">
                <input type="file" id="myFile" onchange ="attachmentFile()">
        </div>
        <div id ="dropBox">
          <p id ="dropBoxHeading"> Select one or more files<p>

         <ol id= "list">
          </ol></div>
</div>


