
   <button class = "btn-info btn" id = "MyAttach" ><%= link_to 'attachments' ,my_attachments_path%></button>
    <div id="drop-area" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);>
  <form class=" my-form">
        <p>Upload  files with the file dialog or by drag and drop</p>
        <input type="file" id="photo" onchange="attachmentFile(this.files)">
        </form>
    </div>
    <div id="dropBox">
        <p id="dropBoxHeading"> Select one or more files</p>
        <ol id="list">
        </ol>
    </div>


