/*
 *= require_self
 */

@import 'normalize.scss';
@import 'global.scss';
@import 'docs.scss';
@import 'welcome.scss';


.navbarCollapse{
  margin-right:15px;
}

footer {

   position:fixed;
   left:0px;
   bottom:0px;
   height:auto;
   padding:6px;
   width:100%;
   background:#17a2b8;
}
#color_text a{
  color:white;
 
}

#color_text a:hover {
color:black;
  }