#index{
  .btn_color{
background-color: #17a2b8;
  border-radius: 18px;
  text-decoration: none;
  float: right;
  margin-top: -30px; 
color: white;}
}

.link_color{
  color:#007bff;
  text-decoration: underline;
}