
  .btn_color{
background-color: #17a2b8;
  border-radius: 18px;
  text-decoration: none;
  float: right;
  margin-top: -30px; 
color: white;}


.link_color{
  color:#007bff;
  text-decoration: underline;
}

.label-info{
  margin-bottom:10px;
}
.content-info{
  margin-bottom: 10px;
}

.my_pagination{
  margin-top: 60px;
  word-spacing: 15px;
  width: 100%;
text-decoration: none;
  }

.indexPage{
  width: 45vw;
  flex: none;
  background-color: lightgray;
  border-radius: 20px;
   padding-left: 60px;
}

.overlay {
    position:absolute;
    background-color: rgba(0, 0, 0, 0.33);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



/* skin.css Style*/
.upload-drop-zone {
  height: 200px;
  color: #ccc;
  margin-left: 30vw;

  border-style: dashed;
  border-color: #ccc;
  text-align: center;
  width: 500px;
  input{
    padding: 80px 0px 0px 150px;
  }
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.upload-drop-zone{
  margin-top: 150px;
}

#dropBox{
margin-top: 5px;
margin-left: 20vw;
line-height: 20px;
}

li{
  margin-bottom: 15px;
}


#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 80px;
  background-color: #E8E8E8;
}
#drop-area.highlight {
  border-color: purple;
}


#MyAttach{
  margin-top: 30px;
  margin-right: 10px;
  border-radius: 15px;
  float: right;
  color: white;
}
